/* Write your code here. */
.app-container{
    background-color: #9aa5b1;
    /* height: 100vh; */
    text-align: center;
    padding: 2.8rem;
    font-family:Fira Sans ;
   
}
.faqs{
    color: #cb8805;
    font-size: 1.6rem;
}
.faqs-container{
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgb(129, 197, 241), white);
    border-radius: 1rem;
    padding-top: 1rem;

}
ul{
list-style-type: none;
padding-left: 1rem;
}
h1{
    font-size: 1.4rem;
}
